COURIER_BOT_TOKEN=
CUSTOMER_BOT_TOKEN=
ADMIN_BOT_TOKEN=
OPERATOR_BOT_TOKEN=

ADMIN_TELEGRAM_ID=

API_URL=
API_PASS=
API_BRANCHES=

BASE_SITE_URL=

PAYCOM_TOKEN_LIVE=
CLICK_TOKEN_LIVE=

PAYCOM_TOKEN_TEST=
CLICK_TOKEN_TEST=